
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.display-flex{

  display: flex;
}


.text-gray{

  color: #FFFFFF;


}

.text-light-gray{

  color: #B9B9B9;

  
}

.bg-light{

  background-color:rgba(17, 17, 17, 1) ;
  margin-bottom: -20px;
}

.navbar{

  justify-content: space-between;
  align-items: center;
  padding: 57px 190px 0px 190px;

  
  

  

  
}

.brand{

  font-weight: 700;
  font-size: 3rem;
}

.nav-link{

  text-decoration: none;

  

  
}

.nav-item{

  list-style: none;
  margin-right:47px ;
  


}

.nav-links{

  text-decoration: none;
  font-weight: 500;


}

#Fitness{

  color: #E6533C;
  font-style: Bold italic ;
 
}

.navbar, .banner{

  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  gap: 96px;
  


}

.banner{

  display: flex;
  gap: 87.95px;
}

.banner-image{

  width: 349px;
  height:580px;
  
  
}

.banner-content{

  max-width: 850px;
  margin: 0 auto;
  text-align: left;
  


}

.banner-image, .banner-content{

  gap: 87.95px;
} 






.banner-title{

  font-weight: 700;
  font-size: 4rem;
  color: #FFFFFF ;
}
.banner-description{

  color:rgba(255, 255, 255, 0.5);
}



.btn-primary{

  background-color: #E6533C;
  color: #FFFFFF;
  padding: 10px 25px;
  font-size: 1.25rem;
  font-weight:600 ;
  border-radius: 42px;
  border: none;
}

.h1{

  max-width: 1800px;
  margin: 0 auto;
  background-color: black;
  gap: 0px;
  margin-top: 0px;
}

 
.btn-secondary{

  background-color: black;
  color: #FFFFFF;
  padding: 10px 25px;
  font-size: 1.25rem;
  font-weight:600 ;
  border-radius: 42px;
  border: #FFFFFF;


}

.change{

  text-align: center;
  
  font-style:Bold ;
  font-weight: 700;
  color: #FFFFFF;


}

.h2{

  text-align: center;
  color: #FFFFFF;
}

.exercise{

  display: flex;
  justify-content: center;
  gap: 90px;
  border-radius: 100;
}

.i1{

  border-radius: 100px;
}
.i2{
  border-radius: 100px;
}
.i3{
  border-radius: 100px;
}
.i4{

  border-radius: 100px;
}

.title{

  color: #FFFFFF;
  text-align: center;
}

.Extra{

  max-width: 1800px;
  margin: 0 auto;
  background-color:black;
  gap: 0px;
  margin-top: 0px;
 

}

.fitness{

  text-align: center;

  color:white;
  justify-content: center;




}

.believe{

  display: flex;
  flex-direction: column;
}


.run{

  width: 366px;
  height: 312px;
  padding: 0px 1000px 0px 1000px ;
  border-radius: 100px;
}

.Run{

  text-align: center;
  
  font-style:Bold ;
  font-weight: 700;
  color: #FFFFFF;
  
}

.btn-run{

  background-color: #E6533C;
  color: #FFFFFF;
  padding: 10px 25px ;
  font-size: 1.25rem;
  font-weight:600 ;
  border-radius: 42px;
  border: none;
  width: 224px;
  justify-content: center;
  text-align: center;
  margin-left: 650px;


}

.fitness{

  
  display: flex;
  text-align: center;
}








@media screen and (max-width: 576px) {

  .navbar, .nav-links, .h1, .Extra, .btn-run{

    flex-direction: column;
  }

  .exercise{

    flex-direction: column;
  }

  .Extra{

    flex-direction: column;
  }

  .believe{

    flex-direction: column;
  }
  
}


